{
  "env": {
    "jest": true
  },
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": 2,
    "require-await": 2,
    "no-console": 2,
    "no-debugger": 2,
    "no-await-in-loop": 2,
    "prefer-const": [
      2,
      {
        "destructuring": "all"
      }
    ],
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "semi": false,
        "printWidth": 120
      }
    ]
  }
}